/* Tổng thể trang */
.registerContainer {
    height: 100vh;
    background: linear-gradient(135deg, #00a651, #008040);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

    /* html,
    body {
        overflow: hidden;
    } */

/* Card chứa form */
.formCard {
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}


@media (max-width: 640px) {
    .formCard {
        width: 90%;
        padding: 30px;
    }
}

/* Logo */
.logoContainer {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

/* Tiêu đề */
.title {
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}

/* Input container */
.inputWrapper {
    width: 100%;
    margin-bottom: 20px;
}

.inputContainer {
    position: relative;
    width: 100%;
}

/* Input */
.input {
    width: 90%;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #00a651;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.input:focus {
    border-color: #008040;
    box-shadow: 0 0 8px rgba(0, 160, 81, 0.3);
    outline: none;
}

/* Required indicator */
.requiredIndicator {
    color: red;
    font-size: 18px;
    position: absolute;
    top: 12px;
    right: 16px;
}

/* Password field */
.passwordWrapper {
    width: 100%;
    margin-bottom: 30px;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

/* Toggle password visibility */
.togglePassword {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 20px;
    color: #666;
    transition: color 0.3s ease-in-out;
}

.togglePassword:hover {
    color: #00a651;
}

/* Login button */
.registerButton {
    cursor: pointer;
    color: #fff;
    background-color: #00a651;
    border-radius: 6px;
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: none;
    margin-top: 4px;
}

.registerButton:hover {
    background-color: #008040;
    box-shadow: 0px 4px 8px rgba(0, 128, 64, 0.3);
}

/* Forgot password */
.forgotPassword {
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
    padding: 8px;
    background: #00a651;
    border: none;
    border-radius: 6px;
}

.forgotPassword:hover {
    background-color: #008040;
    box-shadow: 0px 4px 8px rgba(0, 128, 64, 0.3);
}

.selectInput {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #00a651;
    border-radius: 4px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Khi hover vào select */
.selectInput:hover {
    border-color: #008a42;
}

/* Khi focus vào select */
.selectInput:focus {
    border-color: #008a42;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 166, 81, 0.5);
}

/* Style cho option */
.selectInput option {
    font-size: 16px;
    background: white;
    color: #333;
    padding: 10px;
}